<h1 id='title'>Konfese <span id='subtitle'>tell a secret</span></h1>

<div id='new_secret'>
  <%= form_for Post.new do |f| %>
    <p><%= f.text_area :body, :cols => 40, :rows => 3 %></p>
    <p><%= f.submit 'Post' %></p>
  <% end %>
</div>

<div id='secrets'>
  <% @posts.each do |secret| %>
    <%= div_for secret do %>
      <p><%= secret.body %></p>
    <% end %>
  <% end %>
</div>

